/*
  ******* Project Card implementation. ***
  
*/
.Project {
    width: 100%;
    position: relative;
    margin: auto;
    height: 500px;
   

  }
  
  .Project img {   
    z-index: 0;

  }


  .Project-Description {
    width: 100%;
    border: 1px solid blue;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
  }

  .Project-Title {
    width: 90%;
    text-align: left;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Alegreya Sans', sans-serif  ;
  }

  .Project-Text {
    width: 90%;
    max-width: 400px;
    text-indent: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
  }


  .Project-Description p:not(.Project-Title) {

    font-family: 'Merriweather Sans', sans-serif;
  }

  .Project-Description p {
    margin: 10px auto;
  }


  .Stack-Container {
    width: 60%;
    display: flex;
    justify-content: center;
    
  }

  .Stack {
    font-size: 12px;
  }


  @media only screen and (min-width:250px) {
      /* Project Card Media Queries */
    
    .Project {
      width: 95%;
      height: auto;
      display: flex;
      justify-content: space-between;
    }


    .Project-Description-Button {
      font-size: 16px;
    }
    

    .Project h1 {
      width: 80%;
      margin: 75px auto;
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: 800;
      font-size: 40px;
    }

    .Project img {
      width: 100%;
      height: auto;
      
    }


    .Project-Buttons-div {
      width: 70%;
    }
  }


  @media only screen and (min-width: 800px) {
    .Navbar {
      flex-direction: row;
    }
  
    .Navbar-Title {
      width: 50%;
    }
  
    .Navbar-Links {
      border-top: none;
    }
  
    .Project-Buttons-div {
      width: 40%;
    }
  
    .Project h1 {
      font-size: 35px;
    }

    .Project-Description-Button {
      font-size: 21px;
    }
  }