/*
  ******* Project Card implementation. ***
  
*/
.Project {
    background-color: rgba(245, 245, 245);
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2), -5px -5px 10px rgba(180, 180, 180, 0.4);
    margin: 50px auto;
    text-align: center;
    padding: 5px 0;
    max-width: 800px;
    border-radius: 0.5rem;
  }
  
  .Project img {
    max-width: 500px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
  }
  
  .Project p {
    margin: 30px auto 0;
    width: 70%;
    font-family: 'Abel', sans-serif;
    font-weight: 500;
    font-size: 24px;
  }
  
  .Project-Buttons-div {
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .Project-Button {
    border: 1.5px solid rgba(22, 130, 180, 0.849);
    border-radius: 0.3rem;
    padding: 10px;
    text-decoration: none;
    color:  black;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1.5px;
    font-weight: bolder;
    transition: 0.3s;
  }
  
  .Project-Button:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    background-color: black;
    color: white;
  }
  
  .cta {
    background-color: rgba(22, 130, 180, 0.849);
    color: white;
  }