@import "Components.css";


body {
  margin: 0;
  padding: 0;
}

.main-section {
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background-color: black;
  box-shadow:  4px 4px 8px #bdbdbd, 
             -4px -4px 8px #ffffff;
}


.App {
  position: relative;
}



.Fade-Component {
  animation: ree 1s forwards;
}

.Section-Container {
  opacity: 0;
}



/* 
    Media Queries 
*/
@media only screen  and (min-width: 300px) {

  .main-section {

  }

  .Navbar {
    flex-direction: column;
    max-height: 200px;
  }

  .Navbar-Title {
    font-size: 25px;
    margin: 20px 0;
    width: 100%;
  }

  .Navbar-Links {
    border-left: none;
    
  }

  .Section {
    text-align: center;

  }

  .About {
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
  }

  .Contact {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .About {
    width: 50%;
    max-width: 800px;
    font-size: 30px;
  }
}

@keyframes ree{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}