.Navbar {
  /*background-color: rgba(200,200,200, 0.4);*/
  background-color:  rgba(22, 130, 180, 0.849);
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px;

}

.Navbar-Title {
  width: 50%;
  text-align: center;
  font-size: 45px;
  
}

.Navbar h1 {
  margin: 0;
  font-family: 'Abel', sans-serif;
  cursor: pointer;
  color: white;
}

.Navbar a {
  font-size: 40px;
  font-family: 'Abel', sans-serif;
  margin: 20px 40px;
  
  text-decoration: none;
  color: white;
}

.Navbar a::after {
  content: '';
  display: block;
  
  width: 0;
  height: 2px;
  background-color: rgba(0,0,0,0.3);
  transition: width 0.3s ease-in-out;
}

.Navbar a:hover:after {
  width: 100%;
}


.Navbar-Links {
  justify-content: center;
  width: 30%;
  
  display: flex;
  border-left: 2px solid black;
}


/* 
    Media Queries 
*/



@media only screen  and (min-width: 300px) {
  .Navbar {
    flex-direction: column;
  }

  .Navbar-Title {
    font-size: 40px;
    margin: 20px 0;
    width: 100%;
  }

  .Navbar-Links {
    border-top: 1px solid black;
    border-left: none;
  }

  .Section {
    text-align: center;
  }

  .About {
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
  }

  .Contact {
    width: 80%;
  }


  /* Project Card Media Queries */
  .Project {
    width: 90vw;

  }

  .Project h1 {
    width: 80%;
    margin: 25px auto;
    font-family: 'Abel', sans-serif;
  }

  .Project img {
    width: 75%;
    height: auto
  }

  .Project-Buttons-div {
    width: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .Navbar {
    flex-direction: row;
  }

  .Navbar-Title {
    width: 50%;
  }

  .Navbar-Links {
    border-left: 1px solid black;
    border-top: none;
  }

  .Project-Buttons-div {
    width: 40%;
  }

  .About {
    width: 50%;
    max-width: 800px;
  }

 
}


/**
  Section header Implementation
*/
.Section {
  
  margin: 30px 60px 0px;
  font-family: 'Abel', sans-serif;
  text-decoration: underline;
  font-size: 40px;
}

.About {
  line-height: 30px;
  text-align: center;
}


.Contact {
  max-width: 480px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  
}

.Contact img {
  cursor: pointer;
}

/**
  Project Card implementation.
*/

.Project {
  background-color: rgba(245, 245, 245);
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.2), -5px -5px 10px rgba(180, 180, 180, 0.4);
  margin: 50px auto;
  text-align: center;
  padding: 5px 0;
  max-width: 800px;
  border-radius: 0.5rem;
}

.Project img {
  max-width: 500px;
}

.Project p {
  margin: 30px auto 0;
  width: 70%;
  font-family: 'Abel', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.Project-Buttons-div {
  margin: 0 auto;
  padding: 30px;
  
  display: flex;
  justify-content: space-between;

}

.Project-Button {
  border: 1.5px solid rgba(22, 130, 180, 0.849);
  border-radius: 0.5rem;
  padding: 10px;
  text-decoration: none;
  color:  black;
  font-family: 'Abel', sans-serif;
  letter-spacing: 1.5px;
  font-weight: bolder;
  transition: 0.3s;
}

.Project-Button:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  
}

.cta {
  background-color: rgba(22, 130, 180, 0.849);
  color: white;
}

